/* landing.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.landing-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.title-container {
    text-align: center;
}

.main-title {
    font-size: 2.5em;
    margin-bottom: 20px;
    background: linear-gradient(45deg, #FF9D6C, #BB4E75, #834693, #115173);
    background-size: 400% 400%;
    color: transparent;
    -webkit-background-clip: text;
    animation: gradient 15s ease infinite;
}

.description {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: transparent;
    background: linear-gradient(45deg, #FF9D6C, #BB4E75, #834693, #115173);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    animation: gradient 15s ease infinite;
}

.start-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #45a049;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
